/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-card-border-radius: 0.4rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] .markdown img {
  filter: brightness(90%);
}

.markdown img {
  border-radius: 4px;
  padding: 16px;
  background-color: white;
}

.markdown img.card {
  border: 1px solid #ddd;
  margin-bottom: 16px;
}

.w-1200 {
  max-width: min(100%, 1200px);
}

.w-800 {
  max-width: min(100%, 800px);
}

.w-600 {
  max-width: min(100%, 600px);
}

.horizontal-images {
  display: flex;
  gap: 16px;
}

.horizontal-images img {
  flex-basis: 50%;
}

.primary-button {
  white-space: nowrap;
  padding: 4px 16px;
  color: white !important;
  background-color: #0038FE;
  border-radius: 5px;
  text-decoration: none !important;
}
.primary-button:hover {
  background-color: #2958FD;
}